<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <title>Fusion</title>
    <link rel="stylesheet" href="/templates/home/home.css">
</head>

    <header>
        <div class="header-container">
            <div class="header-icons left-icons">
                <a href="#" class="icon-link">
                    <img src="../../image/common elements/like.png" alt="Лайк">
                </a>
                <a href="#" class="icon-link">
                   <img src="../../image/common elements/ankets.png" alt="Анкеты">
                </a>
            </div>

            <div class="header-logo">
                <img src="../../image/home elements/logo.png" alt="Логотип" class="header-logo-image">
            </div>

            <div class="header-icons right-icons">
                 <a href="#" class="icon-link">
                     <img src="../../image/common elements/profil.png" alt="Профиль">
                 </a>
                 <a href="#" class="icon-link">
                   <img src="../../image/common elements/chats.png" alt="Чаты">
                 </a>
            </div>
        </div>
    </header>

    <body>
        <div class="bg-decor-container">
            <img src="../../image/home elements/d1.png" alt="Декор 1" class="bg-decor bg-decor-left">
            <img src="../../image/home elements/d2.png" alt="Декор 2" class="bg-decor bg-decor-right">
        </div>

        <div class = "logo">
            <img src="../../image/home elements/plashka.png" alt="Плашка" class="logo-image">
        </div>

        <div class = "chat">
            <img src="../../image/home elements/perepiska.png" alt="Переписка" class="chat-image">
        </div>

        <div class = "search">
            <img src="../../image/home elements/poisk.png" alt="Поиск по интересам" class="search-image">
        </div>

        <div class = "cloud">
            <img src="../../image/home elements/oblako.png" alt="Облако интересов" class="cloud-image">
        </div>

        <div class = "auf">
            <img src="../../image/home elements/login.png" alt="Окно регистрации" class="auf-image">
        </div>

        <a href="/regPg" class="button-register">
            <img src="../../image/home elements/reg.png" alt="регистрация" class="button-register-image">
        </a>

        <a href="/logPg" class="button-login">
            <img src="../../image/home elements/akk.png" alt="уже есть аккаунт" class = "button-login-image">
        </a>

        <script src="/templates/home/home.js"></script>
    </body>

</html>
