:root {
    --header-height: 60px;
    --main-padding: 20px;
}

body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-color: #606F81;
    color: white;
    position: relative;
    overflow-x: hidden;
}

header {
    background-color: #485C74;
    padding: 10px 30px;
    height: var(--header-height);
    position: relative;
}

.header-container {
    max-width: 1200px;
    margin: 0 auto;
}

.header-logo {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    bottom: -58px;
}

.header-logo-image {
    width: min(130px, 10vw);
    height: auto;
}

.main-container {
    position: relative;
    padding: var(--main-padding);
    max-width: 1600px;
    margin: 0 auto;
}
.content-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    margin-top: 100px;
}

.left-column,
.right-column {
    flex: 0 1 30%;
    position: relative;
}

.left-column {
    position: absolute;
    top: 3rem;
    left: -5rem;
    width: 30%;
}

.right-column {
    position: absolute;
    bottom: -12rem;
    right: -22rem;
    width: 50%;
}

.center-column {
    flex: 0 1 100%;
    display: flex;
    justify-content: center;
}

.bg-decor-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: -1;
}

.bg-decor {
    position: absolute;
    max-width: 100%;
    height: auto;
}

.bg-decor-left {
    width: 35%;
    height: 55%;
    top: 5%;
    left: 0;
}

.bg-decor-right {
    width: 35%;
    height: 50%;
    bottom: 0;
    right: 0;
}

.logo-image,
.chat-image,
.search-image,
.cloud-image {
    width: 100%;
    height: auto;
    max-width: 540px;
}

.auth-forms {
    position: relative;
    width: 100%;
    max-width: 450px;
}

.auf-image {
    width: 100%;
    height: auto;
}


.auth-buttons {
    position: absolute;
    width: 100%;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}

.button-register,
.button-login {
    display: block;
    width: 80%;
    max-width: 400px;
    transition: transform 0.3s ease;
}

.button-register-image,
.button-login-image {
    width: 100%;
    height: auto;
}

.button-register:hover,
.button-login:hover {
    transform: scale(0.95);
}
