<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <title>Fusion анкеты</title>
    <link rel="stylesheet" href="/templates/ankets/ankets.css">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
</head>

<body>

<header>
    <div class="header-container">
        <div class="header-icons left-icons">
            <a href="/profil" class="icon-link">
                <img src="../../image/common elements/profil.png" alt="Профиль">
            </a>
            <a href="/listOfChats" class="icon-link">
                <img src="../../image/common elements/chats.png" alt="Чаты">
            </a>
        </div>

        <div class="header-logo">
            <img src="../../image/common elements/logo.png" alt="Логотип" class="header-logo-image">
        </div>

        <div class="header-icons right-icons">
            <a href="/notic" class="icon-link">
                <img src="../../image/common elements/like.png" alt="Лайк">
            </a>
            <a href="/anket" class="icon-link">
                <img src="../../image/common elements/ankets.png" alt="Анкеты">
            </a>
        </div>
    </div>
</header>

<main>
    <div class="anket-container">
        <div class="background">
            <img src="../../image/profil elements/d1.png" alt="фон" class="background-image">
        </div>
        <div class="anket-card">
            <div class="image-container">
                <img src="" alt="Фото пользователя" class="user-photo">
            </div>
            <div class="profile-info">
                <div class="name-info-container">
                    <span class="name-info user-name"></span> <span class="name-info user-age"></span> <img
                        class="user-gender" src="" alt="Пол"> <img class="user-zodiac" src="" alt="Знак зодиака">
                </div>
                <div class="location-info">
                    <img src="../../image/profil elements/sity.png" alt="Город"> <span class="user-city"></span>
                </div>
                <div class="work-info">
                    <img src="../../image/profil elements/work.png" alt="Работа"> <span class="user-work"></span>
                </div>
                <div class="study-info">
                    <img src="../../image/profil elements/study.png" alt="Учёба"> <span class="user-study"></span>
                </div>
            </div>
            <div class="description user-description">

            </div>
            <div class="interests">

            </div>
            <div class="anket-actions">
                <div class="action-buttons">
                    <div class="action-button dislike">
                        <img src="../../image/ankets elements/dislike.png" alt="Дизлайк">
                    </div>
                    <div class="action-button like">
                        <img src="../../image/ankets elements/like.png" alt="Лайк">
                    </div>
                </div>
                <div class="expand-button-container">
                    <img src="../../image/ankets elements/right.png" alt="Развернуть" class="expand-button">
                    <span class="expand-text">Развернуть</span>
                </div>
            </div>
        </div>

        <div class="expanded-anket-container" style="display: none;">
            <div class="expanded-anket-card">
                <div class="expanded-image-container">
                    <img src="" alt="Фото пользователя" class="expanded-user-photo">
                </div>
                <div class="expanded-profile-info">
                    <div class="expanded-name-info-container">
                        <span class="expanded-name-info expanded-user-name"></span> <span class="expanded-name-info expanded-user-age"></span> <img class="expanded-user-gender" src="" alt="Пол"> <img class="expanded-user-zodiac" src="" alt="Знак зодиака">
                    </div>
                    <div class="expanded-location-info">
                        <img src="../../image/profil elements/sity.png" alt="Город"> <span class="expanded-user-city"></span>
                    </div>
                    <div class="expanded-work-info">
                        <img src="../../image/profil elements/work.png" alt="Работа"> <span class="expanded-user-work"></span>
                    </div>
                    <div class="expanded-study-info">
                        <img src="../../image/profil elements/study.png" alt="Учёба"> <span class="expanded-user-study"></span>
                    </div>
                </div>
                <div class="expanded-description expanded-user-description">

                </div>
                <div class="expanded-interests">

                </div>
                <div class="expanded-anket-actions">
                    <div class="expanded-action-buttons">
                        <div class="expanded-action-button dislike">
                            <img src="../../image/ankets elements/dislike.png" alt="Дизлайк">
                        </div>
                        <div class="expanded-action-button like">
                            <img src="../../image/ankets elements/like.png" alt="Лайк">
                        </div>
                    </div>
                    <div class="collapse-button-container">
                        <img src="../../image/ankets elements/left.png" alt="Свернуть" class="collapse-button">
                        <span class="collapse-text">Свернуть</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<script src="/templates/ankets/ankets.js"></script>
</body>

</html>
