<!DOCTYPE html>
<html lang="ru">

    <head>
        <meta charset="UTF-8">
        <title>Fusion список чатов</title>
        <link rel="stylesheet" href="/templates/listOfChats/listOfChats.css">
    </head>

    <header>
        <div class="header-container">
            <div class="header-icons left-icons">
                <a href="../notifications/notifications.html" class="icon-link">
                    <img src="../../image/common elements/like.png" alt="Лайк">
                </a>
                <a href="#" class="icon-link">
                    <img src="../../image/common elements/ankets.png" alt="Анкеты">
                </a>
            </div>

            <div class="header-logo">
                <img src="../../image/common elements/logo.png" alt="Логотип" class="header-logo-image">
            </div>

            <div class="header-icons right-icons">
                <a href="../profil/profil.html" class="icon-link">
                    <img src="../../image/common elements/profil.png" alt="Профиль">
                </a>
                <a href="../listOfChats/listOfChats.html" class="icon-link">
                    <img src="../../image/common elements/chats.png" alt="Чаты">
                </a>
            </div>
        </div>
    </header>

    <body>
        <div class = "background">
            <img src="../../image/profil elements/d1.png" alt="фон" class="background-image">
        </div>

        <div class="chats-container">
            <div class="chat-list">
                <div class="chat-item" data-chat-id="1">
                    <div class="user-icon">A</div>
                    <div class="user-info">
                        <span class="username">Alice</span>
                        <span class="last-message">Привет! Как дела?</span>
                    </div>
                </div>
                <div class="chat-item" data-chat-id="2">
                    <div class="user-icon">B</div>
                    <div class="user-info">
                        <span class="username">Bob</span>
                        <span class="last-message">Рад тебя видеть!</span>
                    </div>
                </div>
                <div class="chat-item" data-chat-id="3">
                    <div class="user-icon">C</div>
                    <div class="user-info">
                        <span class="username">Charlie</span>
                        <span class="last-message">Чем занимаешься?</span>
                    </div>
                </div>
                <div class="chat-item" data-chat-id="4">
                    <div class="user-icon">D</div>
                    <div class="user-info">
                        <span class="username">Diana</span>
                        <span class="last-message">Хорошего дня!</span>
                    </div>
                </div>
            </div>
        </div>

        <script src="/templates/listOfChats/listOfChats.js"></script>
    </body>

</html>