:root {
    --header-height: 60px;
    --icon-size: clamp(40px, 4vw, 60px);
    --logo-width: clamp(120px, 16vw, 160px);
}

body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-color: #606F81;
    color: white;
    position: relative;
    overflow-x: hidden;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #485C74;
    padding: 10px 20px;
    height: var(--header-height);
    z-index: 100;
}

.header-container {
    min-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
    height: 100%;
}

.header-icons {
    display: flex;
    gap: clamp(3rem, 3vw, 30rem);
    align-items: center;
    position: fixed;

}

.header-logo {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    z-index: 1;
}

.header-logo-image {
    width: var(--logo-width);
    height: auto;
}

.icon-link {
    background-color: #FFEBFC;
    width: var(--icon-size);
    height: var(--icon-size);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: background-color 0.3s ease;
}
.icon-link:hover {
    background-color: rgba(255, 255, 255, 0.2);
}
.icon-link img {
    width: calc(var(--icon-size) - 10px);
    height: calc(var(--icon-size) - 10px);
}

.left-icons {
    margin-left: 10rem;
    left: 50vw;
}

.right-icons {
    margin-right: 10rem;
    right: 50vw;
}

.background {
    background-size: contain;
    position: fixed;
    top: 0;
    left: 25%;
    width: 50vw;
    height: 100vh;
    max-width: 100%;
    pointer-events: none;
    z-index: -1;
}

.background-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.chats-container {
    width: 100%;
    max-width: 800px;
    margin: calc(var(--header-height) + 90px) auto 40px;
    padding: 20px;
}

.chat-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.chat-item {
    background-color: #FFEBFC;
    padding: 10px 15px;
    border-radius: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%; /* Растягиваем по ширине контейнера */
    height: 80px;
    box-sizing: border-box; /* Чтобы padding не влиял на ширину */

}

.chat-item:hover {
    background-color: #E1C8F3;
}

.user-icon {
    width: 50px;
    height: 50px;
    font-size: 1.2em;
    border-radius: 50%;
    background-color: #9A2867;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}
.user-info{
    display: flex;
    flex-direction: column;
    gap: 5px;
    color: #9A2867;
}

.user-info .username {
    font-size: 1.2em;
    font-weight: bold;
}
.user-info .last-message {
    font-size: 0.9em;
}