:root {
    --header-height: 60px;
    --icon-size: clamp(40px, 4vw, 60px);
    --logo-width: clamp(120px, 16vw, 160px);
}

body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-color: #606F81;
    color: white;
    position: relative;
    overflow-x: hidden;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #485C74;
    padding: 10px 20px;
    height: var(--header-height);
    z-index: 100;
}

.header-container {
    min-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
    height: 100%;
}

.header-icons {
    display: flex;
    gap: clamp(3rem, 3vw, 30rem);
    align-items: center;
    position: fixed;

}

.header-logo {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    z-index: 1;
}

.header-logo-image {
    width: var(--logo-width);
    height: auto;
}

.icon-link {
    background-color: #FFEBFC;
    width: var(--icon-size);
    height: var(--icon-size);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: background-color 0.3s ease;
}
.icon-link:hover {
    background-color: rgba(255, 255, 255, 0.2);
}
.icon-link img {
    width: calc(var(--icon-size) - 10px);
    height: calc(var(--icon-size) - 10px);
}

.left-icons {
    margin-left: 10rem;
    left: 50vw;
}

.right-icons {
    margin-right: 10rem;
    right: 50vw;
}

.background {
    background-size: contain;
    position: fixed;
    top: 0;
    left: 25%;
    width: 50vw;
    height: 100vh;
    max-width: 100%;
    pointer-events: none;
    z-index: -1;
}

.background-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.settings {
    background-color: #FFEBFC;
    width: 60px;
    max-width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: background-color 0.3s ease;
    position: absolute;
    top: 0;
    right: 20px;
}

.settings-image {
    width: 50px;
    height: auto;
}

.settings:hover {
    background-color: rgba(255, 255, 255, 0.2);
}


.profile-container {
    position: relative;
    width: 100%;
    max-width: 800px;
    margin: calc(var(--header-height) + 90px) auto 40px;
    padding: 20px;

}
.profile-header{
    display: flex;
    align-items: flex-start;
    margin-bottom: 15px;
}
.profile-photo {
  width: 225px;
  height: 225px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 15px;
  align-self: center;
}

.profile-photo img {
  width: 100%;
  height: auto;
  display: block;
}

.profile-info{
    flex: 1;
}

.name-age-zodiac-gender{
    display: inline-block;
    position: relative;
    background-color: #FFEBFC;
    border-radius: 20px;
    margin-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.name-and-age{
    display: flex;
    align-items: center;
}

.name-and-age h2{
    color: #9A2867;
}

#userAge{
    color: #9A2867;
    margin-left: 5px;
}

.zodiac-and-gender{
    position: absolute;
    right: -80px;
    top: 50%;
    transform: translateY(-50%);
    white-space: nowrap;
}

.zodiac-and-gender img{
    width: 30px;
    height: 30px;
    margin-left: 5px;
}

.work-and-study p {
  margin: 5px 0;
  display: flex;
  align-items: center;
}

.work-and-study p img{
    width: 30px;
    height: 30px;
    margin-right: 5px;
}

.icon{
    width: 30px;
    height: 30px;
    margin-right: 5px;
}
.profile-about h3, .profile-interests h3 {
    margin-bottom: 10px;
    color: #9A2867;
    background-color: #FFD0F8;
    padding: 5px;
    border-radius: 20px;
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
}
.profile-about p {
    word-wrap: break-word;
    padding: 15px;
    border-radius: 20px;
    color: #9A2867;
    background-color: #FFEBFC;
    margin-top: 10px;
    display: block;
    padding-left: 10px;
    padding-right: 10px;
}

.interests-container {
  display: flex;
  flex-wrap: wrap;
}

.interest {
  background-color: #FFEBF9;
  padding: 8px 12px;
  border-radius: 20px;
  margin-right: 5px;
  margin-top: 10px;
  color: #9A2867;
  border: 2px solid #9A2867;
}

.city-container {
    display: flex;
    align-items: center;
}

#userCity{
    margin-left: 5px;
}
