body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #606F81;
    color: white;
    position: relative;
    overflow-x: hidden;
}

.background{
    position: absolute;
    top: 0px;
    left: 25%;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.background-image{
    position: absolute;
    z-index: -1;
    width: 50%;
    height: 100%;

}

header {
    background-color: #485C74;
    padding: 10px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 60px;
}

.header-container {
    width: 100%;
    max-width: 1200px;
    display: flex;
    align-items: center;
}

.header-icons {
    display: flex;
    gap: 30px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.left-icons {
    left: 37%;
}

.right-icons {
    right: 37%;
}

.icon-link {
    background-color: #FFEBFC;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: background-color 0.3s ease;
}

.icon-link img {
    width: 50px;
    height: 50px;
}

.icon-link:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.header-logo {
    display: flex;
    align-items: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -25px;
    z-index: 1;
}

.header-logo-image {
    width: 160px;
    height: auto;
}

.settings {
    background-color: #FFEBFC;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: background-color 0.3s ease;
    position: absolute;
    top: 10%;
    right: 27%;
}

.settings-image {
    width: 50px;
    height: auto;
}

.settings:hover {
    background-color: rgba(255, 255, 255, 0.2);
}


.profile-container {
    border-radius: 15px;
    padding: 20px;
    max-width: 700px;
    width: 100%;
    margin-top: 3%;
    margin-left: 30%;
}
.profile-header{
    display: flex;
    align-items: flex-start;
    margin-bottom: 15px;
}
.profile-photo {
  width: 225px;
  height: 225px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 15px;
  align-self: center;
}

.profile-photo img {
  width: 100%;
  height: auto;
  display: block;
}

.profile-info{
    flex: 1;
}

.name-age-zodiac-gender{
    display: inline-block;
    position: relative;
    background-color: #FFEBFC;
    padding: 5px;
    border-radius: 20px;
    margin-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.name-and-age{
    display: flex;
    align-items: center;
}

.name-and-age h2{
    color: #9A2867;
}

#userAge{
    color: #9A2867;
    margin-left: 5px;
}

.zodiac-and-gender{
    position: absolute;
    right: -80px;
    top: 50%;
    transform: translateY(-50%);
    white-space: nowrap;
}

.zodiac-and-gender img{
    width: 30px;
    height: 30px;
    margin-left: 5px;
}

.work-and-study p {
  margin: 5px 0;
  display: flex;
  align-items: center;
}

.work-and-study p img{
    width: 30px;
    height: 30px;
    margin-right: 5px;
}

.icon{
    width: 30px;
    height: 30px;
    margin-right: 5px;
}
.profile-about h3, .profile-interests h3 {
    margin-bottom: 10px;
    color: #9A2867;
    background-color: #FFD0F8;
    padding: 5px;
    border-radius: 20px;
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
}
.profile-about p {
    padding: 15px;
    border-radius: 20px;
    color: #9A2867;
    background-color: #FFEBFC;
    margin-top: 10px;
    display: block;
    padding-left: 10px;
    padding-right: 10px;
}

.interests-container {
  display: flex;
  flex-wrap: wrap;
}

.interest {
  background-color: #FFEBF9;
  padding: 8px 12px;
  border-radius: 20px;
  margin-right: 5px;
  margin-top: 10px;
  color: #9A2867;
  border: 2px solid #9A2867;
}

.city-container {
    display: flex;
    align-items: center;
}

#userCity{
    margin-left: 5px;
}
