<!DOCTYPE html>
<html lang="ru">

    <head>
        <meta charset="UTF-8">
        <title>Fusion профиль</title>
        <link rel="stylesheet" href="profil.css">
    </head>

    <header>
        <div class="header-container">
            <div class="header-icons left-icons">
                <a href="#" class="icon-link">
                    <img src="../../image/common elements/like.png" alt="Лайк">
                </a>
                <a href="#" class="icon-link">
                    <img src="../../image/common elements/ankets.png" alt="Анкеты">
                </a>
            </div>

            <div class="header-logo">
                <img src="../../image/common elements/logo.png" alt="Логотип" class="header-logo-image">
            </div>

            <div class="header-icons right-icons">
                    <a href="#" class="icon-link">
                        <img src="../../image/common elements/profil.png" alt="Профиль">
                    </a>
                    <a href="#" class="icon-link">
                    <img src="../../image/common elements/chats.png" alt="Чаты">
                    </a>
            </div>
        </div>
    </header>

    <body>
        <div class = "background">
            <img src="../../image/profil elements/d1.png" alt="фон" class="background-image">
        </div>

        <a href="#" class="settings">
            <img src="../../image/profil elements/settings.png" alt="Настройки профиля" class="settings-image">
        </a>

        <div class="profile-container">
            <div class="profile-header">
                <div class="profile-photo">
                    <img src="" alt="../../image/profil elements/photo.png" id="userPhoto">
                </div>
                <div class="profile-info">
                    <div class="name-age-zodiac-gender">
                        <div class="name-and-age">
                            <h2 id="userName">Александр</h2>
                            <span id="userAge">21 год</span>
                        </div>
                        <div class="zodiac-and-gender">
                          <img src="../../image/profil elements/znak.png" alt="Знак зодиака" id="userZodiac" class="zodiac-icon">
                            <img src="../../image/profil elements/gender.png" alt="Пол" id="userGender" class="gender-icon">
                        </div>
                    </div>
                    <p class="city-container">
                        <img src="../../image/profil elements/sity.png" alt="Город" id="city-icon" class="icon"> <span id="userCity">Город</span>
                    </p>
                    <div class="work-and-study">
                      <p><img src="../../image/profil elements/work.png" alt="Работа" id="work-icon" class="icon"> <span id="userWork">Работа</span></p>
                      <p><img src="../../image/profil elements/study.png" alt="Учёба" id="study-icon" class="icon"> <span id="userStudy">Учеба</span></p>
                   </div>
                </div>
            </div>
            <div class="profile-about">
                <h3>О себе</h3>
                <p id="userDescription">Я люблю пить кока колу и кушац пицу</p>
            </div>
            <div class="profile-interests">
                <h3>Интересы</h3>
                <div class="interests-container" id="interestsContainer">
                    <!-- Здесь будут добавляться интересы -->
                </div>
            </div>
        </div>
        
        <script src="profil.js"></script>
    </body>

</html>