<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <title>Fusion настройка профиля</title>
    <link rel="stylesheet" href="/templates/profilSettings/profilSettings.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5">
</head>

<header>
    <div class="header-container">
        <div class="header-icons left-icons">
            <a href="/profil" class="icon-link">
                <img src="../../image/common elements/profil.png" alt="Профиль">
            </a>
            <a href="/listOfChats" class="icon-link">
                <img src="../../image/common elements/chats.png" alt="Чаты">
            </a>
        </div>

        <div class="header-logo">
            <img src="../../image/common elements/logo.png" alt="Логотип" class="header-logo-image">
        </div>

        <div class="header-icons right-icons">
            <a href="/notic" class="icon-link">
                <img src="../../image/common elements/like.png" alt="Лайк">
            </a>
            <a href="/anket" class="icon-link">
                <img src="../../image/common elements/ankets.png" alt="Анкеты">
            </a>
        </div>
    </div>
</header>

<body>
    <div class = "background">
        <img src="../../image/profil elements/d1.png" alt="фон" class="background-image">
    </div>

    <div class="profile-container">
        <div class="profile-header">
            <div class="delete-profil">
                <a class = "icon-choise">
                    <img src="../../image/profil elements/delete.png" title="Удалить профиль" alt="Удалить профиль" id="deleteProfil">
                </a>
            </div>
            <div class="profile-photo-container">
                <img src="" alt="Фото профиля" id="userPhoto" class="profile-photo">
                <div class="photo-overlay">
                    <label for="photoInput" class="photo-button">Выбрать файл</label>
                    <input type="file" id="photoInput" accept="image/*" style="display: none;">
                </div>
            </div>
            <div class = "choise-container">
                <a class="icon-choise">
                    <img src="../../image/profil elements/not selected.png" title="Выбрать пол" alt="Пол" id = "userGender">
                    <img src="" alt="Иконка пола" id="genderIcon" class="gender-icon" style="display: none;">
                </a>
                <a class="icon-choise">
                    <img src="../../image/profil elements/not selected.png" title="Выбрать знак зодиака" alt="Знак зодиака" id = "userZodiac">
                    <img src="" alt="Иконка зодиака" id="zodiacIcon" class="zodiac-icon" style="display: none;">
                </a>
                <div class="gender-modal" id="genderModal">
                    <img src="/image/profil elements/choiseGender.png" alt="Выберите пол" class="gender-modal-bg">
                    <div class="gender-buttons">
                        <img src="/image/profil elements/men.png" alt="Мужской" class="gender-button" data-gender="man">
                        <img src="/image/profil elements/women.png" alt="Женский" class="gender-button" data-gender="woman">
                    </div>
                </div>
                <div class="zodiac-modal" id="zodiacModal">
                    <img src="/image/profil elements/choiseZodiac.png" alt="Выберите знак зодиака" class="zodiac-modal-bg">
                    <div class="zodiac-buttons">
                        <img src="/image/profil elements/Aquarius.png" alt="Водолей" class="zodiac-button" data-zodiac="Aquarius">
                        <img src="/image/profil elements/archer.png" alt="Стрелец" class="zodiac-button" data-zodiac="archer">
                        <img src="/image/profil elements/Aries.png" alt="Овен" class="zodiac-button" data-zodiac="Aries">
                        <img src="/image/profil elements/canser.png" alt="Рак" class="zodiac-button" data-zodiac="canser">
                        <img src="/image/profil elements/Capricorn.png" alt="Козерог" class="zodiac-button" data-zodiac="Capricorn">
                        <img src="/image/profil elements/crorpion.png" alt="Скорпион" class="zodiac-button" data-zodiac="crorpion">
                        <img src="/image/profil elements/fish.png" alt="Рыбы" class="zodiac-button" data-zodiac="fish">
                        <img src="/image/profil elements/Lion.png" alt="Лев" class="zodiac-button" data-zodiac="Lion">
                        <img src="/image/profil elements/Scales.png" alt="Весы" class="zodiac-button" data-zodiac="Scales">
                        <img src="/image/profil elements/Taurus.png" alt="Телец" class="zodiac-button" data-zodiac="Taurus">
                        <img src="/image/profil elements/Twins.png" alt="Близнецы" class="zodiac-button" data-zodiac="Twins">
                        <img src="/image/profil elements/Virgo.png" alt="Дева" class="zodiac-button" data-zodiac="Virgo">
                    </div>
                </div>
            </div>
            <div class="name-age-container">
                <div class="form-group">
                    <input type="text" id="userName" placeholder="Введите имя" class="name">
                </div>
                <div class="form-group">
                    <input type="number" id="userAge" placeholder="Введите возраст" class="age">
                </div>
            </div>
        </div>
        <div class="profile-settings">

            <div class="city-work-study-container">
                <div class="city-work-study">
                    <label for="userCity"></label>
                    <img src="../../image/profil elements/sity.png" alt="Город" class="icon"><input type="text" id="userCity" placeholder="Введите город" class="sity">
                </div>
                <div class="city-work-study">
                    <label for="userWork"></label>
                    <img src="../../image/profil elements/work.png" alt="Работа" class="icon"><input type="text" id="userWork" placeholder="Введите место работы" class="work">
                </div>
                <div class="city-work-study">
                    <label for="userStudy"></label>
                    <img src="../../image/profil elements/study.png" alt="Учёба" class="icon"><input type="text" id="userStudy" placeholder="Введите место учёбы" class="study">
                </div>
            </div>

            <div class="profile-about-container">
                <div class="profile-about">
                    <h3>О себе</h3>
                </div>
                <div class="profile-about">
                    <textarea id="userDescription" placeholder="Напишите что-нибудь о себе" class = "profile-about-text"></textarea>
                </div>
            </div>

            <div class="form-group">
                <div class="profile-interests">
                    <h3>Интересы</h3>
                    <div class="interest-add-wrapper">
                        <img src="/image/profil elements/plus.png" alt="Добавить интерес" class="plus" id="plus">
                        <div class="add-interest-modal" id="addInterestModal">
                            <input type="text" id="newInterestInput" class="add-interest-input" placeholder="Напишите свой интерес">
                            <div class="add-interest-buttons">
                <span id="addInterestConfirm">
                    <img src="/image/profil elements/check.png" alt="Готово" class="add-interest-confirm-icon">
                </span>
                                <span id="addInterestCancel">
                    <img src="/image/profil elements/cross.png" alt="Отмена" class="add-interest-cancel-icon">
                </span>
                            </div>
                        </div>
                    </div>
                    <div class="interests-container" id="interestsContainer"></div>
                </div>
            </div>


            <div id="interestsWarning" class="warning-message" style="display: none;">
                <p>Ваши интересы помогают строить систему рекомендаций, уверены что не хотите добавить свои интересы?</p>
                <div class="warning-buttons">
                    <button id="confirmSaveWithout">Сохранить без интересов</button>
                    <button id="cancelSave">Добавить интересы</button>
                </div>
            </div>

            </div>
                <div id="errorMessage" class="error-message"></div>
                <img src="/image/profil elements/send.png" alt="Готово" class="send" id="saveButton">
            </div>

        </div>
    </div>
    <div class="modal" id="application" hidden="hidden">
        <div id= "wrap" class="wrapper" >
            <main class="main">
                <div class="main__content">
                    <div class="avatar">
                        <img id="image" class="image" src="" >
                        <canvas id="canvas" class="canvas">
                            Your browser does not support JS or HTML5!
                        </canvas>
                    </div>

                    <p>
                        <input type="number" name="widthBox" id="widthBox" value="400" min="400" title="Width">

                        <input type="number" name="heightBox" id="heightBox" value="400" min="400" title="Height">
                    </p>
                    <p>
                        <label><input type="number" name="topBox" id="topBox" value="0" min="0" title="Top"> </label><br><br>
                        <label><input type="number" name="leftBox" id="leftBox" value="0" min="0" title="Left"></label>
                    </p>
                    <p>
                        <img src="/image/profil elements/send.png" alt="Готово" class="button" id="saveBtn">
                    </p>
                    <p>
                        <img src="/image/profil elements/cansel.png" alt="Готово" class="button" id="cancelBtn">
                    </p>
                    <p>
                        <a href="uploads/photoКарлик.png" target="_blank" class="a a_hidden" id="newImg">Open new photo</a>
                    </p>
                </div>
            </main>
        </div>
    </div>

    <div class="sure-delete" id="sureDelete">
        <img src="../../image/profil elements/sure.png" class = "sure-image">
        <div class = "sure-buttons">
            <img src="../../image/profil elements/cancellation.png" class = "button" id="cancellation">
            <img src="../../image/profil elements/yes-delete.png" class = "button" id="yesDelete">
        </div>
    </div>

    <script src="/templates/profilSettings/profilSettings.js"></script>
    <script src="/templates/edit/edit.js"></script>
</body>

</html>